.header {
  /* box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3); */
  background-color: transparent;
  position: fixed;
  left: 0;
  right: 0;
}

.container {
  max-width: 1170px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 26px 0;
  position: relative;
}

.logo {}

.linkJoin {
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;

  background-color: #00D094;
  border: 1px solid #00D094;
  border-radius: 8px;

  padding: 1rem 1.875rem;
}

@media all and (max-width:1200px) {
  .container {
    max-width: 960px;
  }
}

@media all and (max-width:992px) {
  .container {
    max-width: 720px;
    padding: 15px 0;
  }

  .linkJoinContainer {
    flex-grow: 1;
    text-align: right;
  }

  .linkJoin {
    padding: 0.75rem 1.75rem;
  }
}

@media all and (max-width:768px) {
  .container {
    max-width: 540px;
  }

  .linkJoinContainer {
    display: none;
  }
}

@media all and (max-width:576px) {
  .container {
    min-width: 100%;
    padding: 15px 12px;
  }
}