.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 11;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 0;
}

.header.afterScroll {
  background-color: var(--wh-color);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in;
}

.logo {}

.linkJoin {
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
  color: #0C263A;
  background-color: #00D094;
  border: 1px solid #00D094;
  border-radius: 8px;
  font-weight: 500;
  padding: 1rem 1.875rem;
}

@media all and (max-width:1200px) {
  .container {
    max-width: 960px;
  }
}

@media all and (max-width:992px) {
  .container {
    padding: 15px 0;
  }

  .linkJoinContainer {
    flex-grow: 1;
    text-align: right;
  }

  .linkJoin {
    padding: 0.75rem 1.75rem;
  }
}

@media all and (max-width:768px) {
  .linkJoinContainer {
    display: none;
  }
}

@media all and (max-width:576px) {
  .logo {
    width: 130px;
  }
}