.container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 8rem;
  position: relative;
}

.bgImg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.btnTheme {
  font-size: 1.25rem;
  position: fixed;
  z-index: 15;
  top: 90px;
  right: 90px;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 8px;
  color: var(--title-color);
  background-color: var(--brand-color);
  border: 1px solid var(--brand-color);
  box-shadow: 0px 0 15px 2px rgba(104, 225, 166, 0.6);
}

.content {
  flex-basis: 48%;
  position: relative;
  margin-bottom: 260px;
  animation: fade-right 2s ease;
}

.coin {
  margin-bottom: 20px;
}

.coin img {
  animation: rotate 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate;
}

.title {
  color: var(--title-color);
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
  font-family: 'Anek Telugu', sans-serif;
  margin-bottom: 8px;
}

.title span {
  color: var(--secondary-color);
}

.description {
  color: var(--text-color);
  font-size: 1rem;
  margin-bottom: 40px;
  line-height: 1.6;
}

.linkGroup {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 88px;
}

.linkStart,
.linkWatch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  border-radius: 8px;
  color: #0C263A;
  font-weight: 500;
}

.linkStart {
  background: var(--brand-color);
  border: 1px solid var(--brand-color);
  padding: 1rem 2.5rem
}

.linkWatch {
  color: var(--secondary-color);
  padding: 0.875rem 2.5rem;
  border: 1px solid var(--secondary-color);
  flex-direction: row-reverse;
}

.linkWatch .icon {
  font-size: 1.25rem;
}

.thumb {
  overflow: hidden;
  position: absolute;
  right: 0;
}

.thumb img {
  width: 743px;
  animation: slideHorizontal 3s linear infinite;
}

.cube {
  position: absolute;
  bottom: -10%;
  right: -20%;
}

.cube img {
  width: 43px;
  height: 30px;
  animation: rotate 3s cubic-bezier(0.41, 0.15, 0.64, 0.86) infinite alternate
}

.social {
  color: var(--title-color);
}

.socialTitle {
  margin-bottom: 25px;
  font-size: 1.125rem;
  font-weight: 700;
}

.socialLinks {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.socialLink {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--title-color);
  border: 1px solid var(--social-border-color-2);
  font-size: 1.25rem;
}

.socialLink.active,
.socialLink:hover {
  background-color: var(--brand-color);
  border: 1px solid var(--social-border-color-2);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideHorizontal {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(30px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideVertical {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0);
  }
}

@media all and (max-width:1400px) {
  .btnTheme {
    bottom: auto;
    left: auto;
    top: 140px;
    right: 60px;
  }

  .title {
    font-size: calc(1.5rem + 2.5vw);
  }

  .thumb img {
    width: 672px;
  }


  .cube {
    bottom: -5%;
    right: -25%;
  }
}

@media all and (max-width:1200px) {


  .coin img {
    width: 90px;
  }

  .thumb img {
    width: 556px;
  }

  .cube {
    bottom: 10%;
    right: -25%;
  }

}

@media all and (max-width:992px) {

  .bgImg {
    display: none;
  }

  .btnTheme {
    top: auto;
    right: auto;
    bottom: 7%;
    left: 5%;
  }

  .content {
    flex-basis: 52.5%;
  }

  .coin img {
    width: 70px;
  }

  .thumb img {
    width: 400px;
  }

  .linkStart {
    padding: 0.75rem 1.25rem;
  }

  .linkWatch {
    padding: 0.65rem 1.25rem;
  }

  .socialLink {
    width: 34px;
    height: 34px;
  }

  .socialLink.active img {
    width: 8px;
  }

  .socialLink img {
    width: 12px;
  }

  .thumb img {
    animation: slideVertical 3s linear infinite;
  }

  .cube {
    bottom: 32.5%;
    right: -22.5%;
  }
}

@media all and (max-width:768px) {
  .content {
    flex-basis: 100%;
  }

  .thumb {
    top: 100%;
  }

  .thumb img {
    width: 516px;
  }

  .cube {
    bottom: 0%;
    right: 0%;
  }
}

@media all and (max-width:576px) {

  .btnTheme {
    width: 35px;
    height: 35px;
    font-size: 0.95rem;
  }

  .description {
    margin-bottom: 20px;
  }

  .linkGroup {
    font-size: 0.875rem;
    margin-bottom: 40px;
  }

  .linkStart {
    padding: 0.5rem 1rem;
  }

  .linkWatch {
    padding: .4rem 1rem;
  }

  .cube {
    bottom: 0%;
    right: 5%;
  }
}


@keyframes fade-right {
  0% {
    transform: translateX(-25%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}