.menuList {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  color: var(--title-color);
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1px;

  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
  padding: 15px 22px;

  position: relative;
  cursor: pointer;
}

.menuItem .expandIcon {
  font-size: 1.25rem;
}

.menuLink {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuItem:hover .megaMenuList,
.megaMenuList:hover {
  display: block;
}

.menuItem:hover .expandIcon {
  rotate: 180deg;
}

.megaMenuList {
  display: none;
  width: 220px;
  background-color: var(--wh-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
  border-radius: 0.4rem;
  position: absolute;
  left: 0;
  top: 55px;
}

.megaMenuList .megaMenuItem .megaMenuLink {
  color: var(--title-color);
  display: block;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(var(--wh-color), 0.05);
  border-radius: 0.3rem;
}

.btnHamburger {
  display: none;
  cursor: pointer;
  font-size: 1.75rem;
  margin-top: 4px;
  color: var(--title-color);
}


@media all and (max-width:992px) {
  .btnHamburger {
    display: block;
    margin-left: 20px;
    padding: 10px 20px;
    order: 2;
  }

  .menuList {
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: var(--wh-color);
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.1);
  }

  .menuItem {
    padding: 8px 12px;
    border-bottom: 1px solid rgb(189, 189, 189, 0.2);
  }

  .menuItem:hover p.menuLink {
    margin-bottom: 190px;
  }

  .menuLink {
    width: 100%;
    padding: 10px 25px;
    font-size: 15px;
  }

  .megaMenuList {
    width: 100%;
    border-top: 1px solid rgb(189, 189, 189, 0.2);
    margin-top: 15px;
    box-shadow: none;
    border-radius: 0;
  }

  .menuItem.megaMenu {
    padding-bottom: 180px;
  }

  .megaMenuItem {
    padding: 10px 30px;
    font-size: 13px;
    border-bottom: 1px solid rgb(189, 189, 189, 0.2);
  }
}